body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.content {
    text-align: center;
    font-family: Arial, sans-serif;
}

button {
    background-color: #4CAF50;
    color: white;
    margin: 4px 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 7px;
    width: 150px;
    font-size: medium;
}

p:not(footer p) {
    padding: 4px;
    background-color: lightgreen;
    border-radius: 4px;
    width: 50%;
    margin: 0 auto 14px auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
}